ollama
chromadb
pypdf
pydantic
pydantic-settings
python-dotenv
fastapi
uvicorn
python-multipart
aiofiles
flet==0.25.2
langfuse<3.0.0
cryptography
litellm
litellm[proxy]
langchain
langchain-community
langchain-chroma
langchain-openai
langfuse-langchain
tiktoken